



<!-- _S9SLIDE_ -->
.answer p::after {
    content: ' ';
    display: block;
    clear: both;
}

.answer img {
    float: left;
    width: 300px;
    height: auto;
    margin: 0 1em 1em 0;
}

.hide {
    display: none;
}
